In [1]:
import pandas as pd
import os

In [2]:
base_dir = r"D:\Path\to\the\directory\where\the\extracted_mimic_iii_data\is\stored"

In [42]:
files = os.listdir(base_dir)
path = [os.path.join(base_dir, f) for f in files if f.lower().endswith(".csv")]
fnm = [os.path.join("",f2) for f2 in files if f2.lower().endswith(".csv")]
path.sort()
cnt = -1


print(f"Index \t File_Name\t File_Size (KB)")
print(f"============================================ \n")
for fn in fnm:
    cnt = cnt + 1
    size_kb = os.path.getsize(path[cnt]) / 1024
    print(f"[{cnt}] {fn} \t({size_kb:.3f} KB)")

Index 	 File_Name	 File_Size (KB)
============================================

[0] ADMISSIONS.csv 	(12254.455 KB)
[1] CALLOUT.csv 	(6190.610 KB)
[2] CAREGIVERS.csv 	(198.723 KB)
[3] CHARTEVENTS.csv 	(34480366.342 KB)
[4] CPTEVENTS.csv 	(56787.972 KB)
[5] DATETIMEEVENTS.csv 	(513462.205 KB)
[6] DIAGNOSES_ICD.csv 	(18688.991 KB)
[7] DRGCODES.csv 	(10241.340 KB)
[8] D_CPT.csv 	(13.483 KB)
[9] D_ICD_DIAGNOSES.csv 	(1355.041 KB)
[10] D_ICD_PROCEDURES.csv 	(304.166 KB)
[11] D_ITEMS.csv 	(932.051 KB)
[12] D_LABITEMS.csv 	(42.107 KB)
[13] ICUSTAYS.csv 	(6208.083 KB)
[14] INPUTEVENTS_CV.csv 	(2406539.562 KB)
[15] INPUTEVENTS_MV.csv 	(952398.254 KB)
[16] LABEVENTS.csv 	(1810786.765 KB)
[17] MICROBIOLOGYEVENTS.csv 	(70808.408 KB)
[18] NOTEEVENTS.csv 	(3913786.924 KB)
[19] OUTPUTEVENTS.csv 	(387115.967 KB)
[20] PATIENTS.csv 	(2567.285 KB)
[21] PRESCRIPTIONS.csv 	(752281.383 KB)
[22] PROCEDUREEVENTS_MV.csv 	(47627.367 KB)
[23] PROCEDURES_ICD.csv 	(6639.152 KB)
[24] SERVICES.csv 	(3400.044 KB)
[25] TRANSFERS.csv 	(24469.819 KB)

In [43]:
df = pd.read_csv(path[0])
print(f"====================== {fnm[0]} ======================")
df.head(10)

====================== ADMISSIONS.csv ======================

,ROW_ID,SUBJECT_ID,HADM_ID,ADMITTIME,DISCHTIME,DEATHTIME,ADMISSION_TYPE,ADMISSION_LOCATION,DISCHARGE_LOCATION,INSURANCE,LANGUAGE,RELIGION,MARITAL_STATUS,ETHNICITY,EDREGTIME,EDOUTTIME,DIAGNOSIS,HOSPITAL_EXPIRE_FLAG,HAS_CHARTEVENTS_DATA
0,21,22,165315,2196-04-09 12:26:00,2196-04-10 15:54:00,NaN,EMERGENCY,EMERGENCY ROOM ADMIT,DISC-TRAN CANCER/CHLDRN H,Private,NaN,UNOBTAINABLE,MARRIED,WHITE,2196-04-09 10:06:00,2196-04-09 13:24:00,BENZODIAZEPINE OVERDOSE,0,1
1,22,23,152223,2153-09-03 07:15:00,2153-09-08 19:10:00,NaN,ELECTIVE,PHYS REFERRAL/NORMAL DELI,HOME HEALTH CARE,Medicare,NaN,CATHOLIC,MARRIED,WHITE,NaN,NaN,CORONARY ARTERY DISEASE\CORONARY ARTERY BYPASS...,0,1
2,23,23,124321,2157-10-18 19:34:00,2157-10-25 14:00:00,NaN,EMERGENCY,TRANSFER FROM HOSP/EXTRAM,HOME HEALTH CARE,Medicare,ENGL,CATHOLIC,MARRIED,WHITE,NaN,NaN,BRAIN MASS,0,1
3,24,24,161859,2139-06-06 16:14:00,2139-06-09 12:48:00,NaN,EMERGENCY,TRANSFER FROM HOSP/EXTRAM,HOME,Private,NaN,PROTESTANT QUAKER,SINGLE,WHITE,NaN,NaN,INTERIOR MYOCARDIAL INFARCTION,0,1
4,25,25,129635,2160-11-02 02:06:00,2160-11-05 14:55:00,NaN,EMERGENCY,EMERGENCY ROOM ADMIT,HOME,Private,NaN,UNOBTAINABLE,MARRIED,WHITE,2160-11-02 01:01:00,2160-11-02 04:27:00,ACUTE CORONARY SYNDROME,0,1
5,26,26,197661,2126-05-06 15:16:00,2126-05-13 15:00:00,NaN,EMERGENCY,TRANSFER FROM HOSP/EXTRAM,HOME,Medicare,NaN,CATHOLIC,SINGLE,UNKNOWN/NOT SPECIFIED,NaN,NaN,V-TACH,0,1
6,27,27,134931,2191-11-30 22:16:00,2191-12-03 14:45:00,NaN,NEWBORN,PHYS REFERRAL/NORMAL DELI,HOME,Private,NaN,CATHOLIC,NaN,WHITE,NaN,NaN,NEWBORN,0,1
7,28,28,162569,2177-09-01 07:15:00,2177-09-06 16:00:00,NaN,ELECTIVE,PHYS REFERRAL/NORMAL DELI,HOME HEALTH CARE,Medicare,NaN,CATHOLIC,MARRIED,WHITE,NaN,NaN,CORONARY ARTERY DISEASE\CORONARY ARTERY BYPASS...,0,1
8,29,30,104557,2172-10-14 14:17:00,2172-10-19 14:37:00,NaN,URGENT,TRANSFER FROM HOSP/EXTRAM,HOME HEALTH CARE,Medicare,NaN,CATHOLIC,MARRIED,UNKNOWN/NOT SPECIFIED,NaN,NaN,UNSTABLE ANGINA\CATH,0,1
9,30,31,128652,2108-08-22 23:27:00,2108-08-30 15:00:00,2108-08-30 15:00:00,EMERGENCY,TRANSFER FROM HOSP/EXTRAM,DEAD/EXPIRED,Medicare,NaN,CATHOLIC,MARRIED,WHITE,NaN,NaN,STATUS EPILEPTICUS,1,1

In [44]:
df = pd.read_csv(path[3], nrows = 1000)
print(f"====================== {fnm[3]} ======================")
df.head(10)

====================== CHARTEVENTS.csv ======================

,ROW_ID,SUBJECT_ID,HADM_ID,ICUSTAY_ID,ITEMID,CHARTTIME,STORETIME,CGID,VALUE,VALUENUM,VALUEUOM,WARNING,ERROR,RESULTSTATUS,STOPPED
0,788,36,165660,241249,223834,2134-05-12 12:00:00,2134-05-12 13:56:00,17525,15.00,15.00,L/min,0,0,NaN,NaN
1,789,36,165660,241249,223835,2134-05-12 12:00:00,2134-05-12 13:56:00,17525,100.00,100.00,NaN,0,0,NaN,NaN
2,790,36,165660,241249,224328,2134-05-12 12:00:00,2134-05-12 12:18:00,20823,0.37,0.37,NaN,0,0,NaN,NaN
3,791,36,165660,241249,224329,2134-05-12 12:00:00,2134-05-12 12:19:00,20823,6.00,6.00,min,0,0,NaN,NaN
4,792,36,165660,241249,224330,2134-05-12 12:00:00,2134-05-12 12:19:00,20823,2.50,2.50,NaN,0,0,NaN,NaN
5,793,36,165660,241249,224331,2134-05-12 12:00:00,2134-05-12 12:19:00,20823,0.00,0.00,ml/hr,0,0,NaN,NaN
6,794,36,165660,241249,224332,2134-05-12 12:00:00,2134-05-12 14:44:00,17525,3.00,3.00,NaN,0,0,NaN,NaN
7,795,36,165660,241249,224663,2134-05-12 12:00:00,2134-05-12 14:44:00,17525,8.00,8.00,NaN,0,0,NaN,NaN
8,796,36,165660,241249,224665,2134-05-12 12:00:00,2134-05-12 14:44:00,17525,1.11,1.11,NaN,0,0,NaN,NaN
9,797,36,165660,241249,220224,2134-05-12 12:35:00,2134-05-12 12:38:00,20889,58.00,58.00,mmHg,1,0,NaN,NaN

In [49]:
df = pd.read_csv(path[11])
print(f"====================== {fnm[11]} ======================")
df.head(10)

====================== D_ITEMS.csv ======================

,ROW_ID,ITEMID,LABEL,ABBREVIATION,DBSOURCE,LINKSTO,CATEGORY,UNITNAME,PARAM_TYPE,CONCEPTID
0,457,497,Patient controlled analgesia (PCA) [Inject],NaN,carevue,chartevents,NaN,NaN,NaN,NaN
1,458,498,PCA Lockout (Min),NaN,carevue,chartevents,NaN,NaN,NaN,NaN
2,459,499,PCA Medication,NaN,carevue,chartevents,NaN,NaN,NaN,NaN
3,460,500,PCA Total Dose,NaN,carevue,chartevents,NaN,NaN,NaN,NaN
4,461,501,PCV Exh Vt (Obser),NaN,carevue,chartevents,NaN,NaN,NaN,NaN
5,1157,927,Allergy 2,NaN,carevue,chartevents,NaN,NaN,NaN,NaN
6,1158,930,Ext,NaN,carevue,chartevents,NaN,NaN,NaN,NaN
7,1159,935,Allergy 3,NaN,carevue,chartevents,NaN,NaN,NaN,NaN
8,1160,938,blood cultures,NaN,carevue,chartevents,NaN,NaN,NaN,NaN
9,1161,940,trach care,NaN,carevue,chartevents,NaN,NaN,NaN,NaN

In [48]:
df = pd.read_csv(path[12])
print(f"====================== {fnm[12]} ======================")
df.head(10)

====================== D_LABITEMS.csv ======================

,ROW_ID,ITEMID,LABEL,FLUID,CATEGORY,LOINC_CODE
0,546,51346,Blasts,Cerebrospinal Fluid (CSF),Hematology,26447-3
1,547,51347,Eosinophils,Cerebrospinal Fluid (CSF),Hematology,26451-5
2,548,51348,"Hematocrit, CSF",Cerebrospinal Fluid (CSF),Hematology,30398-2
3,549,51349,Hypersegmented Neutrophils,Cerebrospinal Fluid (CSF),Hematology,26506-6
4,550,51350,Immunophenotyping,Cerebrospinal Fluid (CSF),Hematology,NaN
5,551,51351,Lymphs,Cerebrospinal Fluid (CSF),Hematology,26479-6
6,552,51352,Macrophage,Cerebrospinal Fluid (CSF),Hematology,30426-1
7,553,51353,Mesothelial cells,Cerebrospinal Fluid (CSF),Hematology,30429-5
8,554,51354,Metamyelocytes,Cerebrospinal Fluid (CSF),Hematology,30366-9
9,555,51355,Monocytes,Cerebrospinal Fluid (CSF),Hematology,26486-1

In [45]:
df = pd.read_csv(path[13])
print(f"====================== {fnm[13]} ======================")
df.head(10)

====================== ICUSTAYS.csv ======================

,ROW_ID,SUBJECT_ID,HADM_ID,ICUSTAY_ID,DBSOURCE,FIRST_CAREUNIT,LAST_CAREUNIT,FIRST_WARDID,LAST_WARDID,INTIME,OUTTIME,LOS
0,365,268,110404,280836,carevue,MICU,MICU,52,52,2198-02-14 23:27:38,2198-02-18 05:26:11,3.2490
1,366,269,106296,206613,carevue,MICU,MICU,52,52,2170-11-05 11:05:29,2170-11-08 17:46:57,3.2788
2,367,270,188028,220345,carevue,CCU,CCU,57,57,2128-06-24 15:05:20,2128-06-27 12:32:29,2.8939
3,368,271,173727,249196,carevue,MICU,SICU,52,23,2120-08-07 23:12:42,2120-08-10 00:39:04,2.0600
4,369,272,164716,210407,carevue,CCU,CCU,57,57,2186-12-25 21:08:04,2186-12-27 12:01:13,1.6202
5,370,273,158689,241507,carevue,MICU,MICU,52,52,2141-04-19 06:12:05,2141-04-20 17:52:11,1.4862
6,371,274,130546,254851,carevue,MICU,MICU,12,12,2114-06-28 22:28:44,2114-07-07 18:01:16,8.8143
7,372,275,129886,219649,carevue,CCU,CCU,7,7,2170-10-07 11:28:53,2170-10-14 14:38:07,7.1314
8,373,276,135156,206327,carevue,CCU,CCU,57,57,2147-11-20 09:02:23,2147-11-21 17:08:52,1.3378
9,374,277,171601,272866,carevue,NICU,NICU,56,56,2132-10-21 21:11:46,2132-10-22 14:44:48,0.7313

In [46]:
df = pd.read_csv(path[16], nrows = 1000)
print(f"====================== {fnm[16]} ======================")
df.head(10)

====================== LABEVENTS.csv ======================

,ROW_ID,SUBJECT_ID,HADM_ID,ITEMID,CHARTTIME,VALUE,VALUENUM,VALUEUOM,FLAG
0,281,3,NaN,50820,2101-10-12 16:07:00,7.39,7.39,units,NaN
1,282,3,NaN,50800,2101-10-12 18:17:00,ART,NaN,NaN,NaN
2,283,3,NaN,50802,2101-10-12 18:17:00,-1,-1.00,mEq/L,NaN
3,284,3,NaN,50804,2101-10-12 18:17:00,22,22.00,mEq/L,NaN
4,285,3,NaN,50808,2101-10-12 18:17:00,0.93,0.93,mmol/L,abnormal
5,286,3,NaN,50812,2101-10-12 18:17:00,NOT INTUBATED,NaN,NaN,NaN
6,287,3,NaN,50813,2101-10-12 18:17:00,1.8,1.80,mmol/L,NaN
7,288,3,NaN,50818,2101-10-12 18:17:00,33,33.00,mm Hg,NaN
8,289,3,NaN,50820,2101-10-12 18:17:00,7.42,7.42,units,NaN
9,290,3,NaN,50821,2101-10-12 18:17:00,80,80.00,mm Hg,NaN

In [47]:
df = pd.read_csv(path[20])
print(f"====================== {fnm[20]} ======================")
df.head(10)

====================== PATIENTS.csv ======================

,ROW_ID,SUBJECT_ID,GENDER,DOB,DOD,DOD_HOSP,DOD_SSN,EXPIRE_FLAG
0,234,249,F,2075-03-13 00:00:00,NaN,NaN,NaN,0
1,235,250,F,2164-12-27 00:00:00,2188-11-22 00:00:00,2188-11-22 00:00:00,NaN,1
2,236,251,M,2090-03-15 00:00:00,NaN,NaN,NaN,0
3,237,252,M,2078-03-06 00:00:00,NaN,NaN,NaN,0
4,238,253,F,2089-11-26 00:00:00,NaN,NaN,NaN,0
5,239,255,M,2109-08-05 00:00:00,NaN,NaN,NaN,0
6,240,256,M,2086-07-31 00:00:00,NaN,NaN,NaN,0
7,241,257,F,2031-04-03 00:00:00,2121-07-08 00:00:00,2121-07-08 00:00:00,2121-07-08 00:00:00,1
8,242,258,F,2124-09-19 00:00:00,NaN,NaN,NaN,0
9,243,260,F,2105-03-23 00:00:00,NaN,NaN,NaN,0

In [38]:
df = pd.read_csv(path[1])
print(f"====================== {fnm[1]} ======================")
df.head(10)

In [39]:
df = pd.read_csv(path[2])
print(f"====================== {fnm[2]} ======================")
df.head(10)

In [ ]:
df = pd.read_csv(path[4])
print(f"====================== {fnm[4]} ======================")
df.head(10)

In [ ]:
df = pd.read_csv(path[5])
print(f"====================== {fnm[5]} ======================")
df.head(10)

In [ ]:
df = pd.read_csv(path[6])
print(f"====================== {fnm[6]} ======================")
df.head(10)

In [ ]:
df = pd.read_csv(path[7])
print(f"====================== {fnm[7]} ======================")
df.head(10)

In [ ]:
df = pd.read_csv(path[8])
print(f"====================== {fnm[8]} ======================")
df.head(10)

In [ ]:
df = pd.read_csv(path[9])
print(f"====================== {fnm[9]} ======================")
df.head(10)

In [ ]:
df = pd.read_csv(path[10])
print(f"====================== {fnm[10]} ======================")
df.head(10)

In [ ]:
df = pd.read_csv(path[14])
print(f"====================== {fnm[14]} ======================")
df.head(10)

In [ ]:
df = pd.read_csv(path[15])
print(f"====================== {fnm[15]} ======================")
df.head(10)

In [ ]:
df = pd.read_csv(path[17])
print(f"====================== {fnm[17]} ======================")
df.head(10)

In [ ]:
df = pd.read_csv(path[18])
print(f"====================== {fnm[18]} ======================")
df.head(10)

In [ ]:
df = pd.read_csv(path[19])
print(f"====================== {fnm[19]} ======================")
df.head(10)

In [ ]:
df = pd.read_csv(path[21])
print(f"====================== {fnm[21]} ======================")
df.head(10)

In [ ]:
df = pd.read_csv(path[22])
print(f"====================== {fnm[22]} ======================")
df.head(10)

In [ ]:
df = pd.read_csv(path[23])
print(f"====================== {fnm[23]} ======================")
df.head(10)

In [ ]:
df = pd.read_csv(path[24])
print(f"====================== {fnm[24]} ======================")
df.head(10)

In [ ]:
df = pd.read_csv(path[25])
print(f"====================== {fnm[25]} ======================")
df.head(10)